html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 1em;
  vertical-align: baseline;
  font-family: 'Ubuntu', sans-serif;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
 
  text-align: center;
}

div.block {
  position: relative;
  margin: auto 0;
  top: 80px;
  -webkit-box-reflect: below -5px linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3));
  -o-box-reflect: below -5px linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3));
}

.jump {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 5px;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  animation-name: colorRun;
  animation-duration:  3s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  3s;
  -webkit-animation-iteration-count:  infinite;
}

.jump:nth-child(1) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.1s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.1s;
  -webkit-animation-iteration-count:  infinite;
  color: #EDB92E;
}

.jump:nth-child(2) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.2s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.2s;
  -webkit-animation-iteration-count:  infinite;
  color: #F85931;
}

.jump:nth-child(3) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.3s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.3s;
  -webkit-animation-iteration-count:  infinite;
  color: #CE1836;
}

.jump:nth-child(4) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.4s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.4s;
  -webkit-animation-iteration-count:  infinite;
  color: #3B8183;
}

.jump:nth-child(5) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.5s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.5s;
  -webkit-animation-iteration-count:  infinite;
  color: #A3A948;
}

.jump:nth-child(6) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.6s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.6s;
  -webkit-animation-iteration-count:  infinite;
  color: #EDB92E;
}

.jump:nth-child(7) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.7s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.7s;
  -webkit-animation-iteration-count:  infinite;
  color: #F85931;
}

.jump:nth-child(8) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.8s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.8s;
  -webkit-animation-iteration-count:  infinite;
  color: #CE1836;
}

.jump:nth-child(9) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  0.9s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  0.9s;
  -webkit-animation-iteration-count:  infinite;
  color: #3B8183;
}

.jump:nth-child(10) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1s;
  -webkit-animation-iteration-count:  infinite;
  color: #A3A948;
}

.jump:nth-child(11) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.1s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.1s;
  -webkit-animation-iteration-count:  infinite;
  color: #EDB92E;
}

.jump:nth-child(12) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.2s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.2s;
  -webkit-animation-iteration-count:  infinite;
  color: #F85931;
}

.jump:nth-child(13) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.3s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.3s;
  -webkit-animation-iteration-count:  infinite;
  color: #CE1836;
}

.jump:nth-child(14) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.4s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.4s;
  -webkit-animation-iteration-count:  infinite;
  color: #3B8183;
}

.jump:nth-child(15) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.5s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.5s;
  -webkit-animation-iteration-count:  infinite;
  color: #A3A948;
}

.jump:nth-child(16) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.6s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.6s;
  -webkit-animation-iteration-count:  infinite;
  color: #EDB92E;
}

.jump:nth-child(17) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.7s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.7s;
  -webkit-animation-iteration-count:  infinite;
  color: #F85931;
}

.jump:nth-child(18) {
  animation-name: colorRun;
  animation-duration:  1.5s;
  animation-timing-function:  ease; 
  animation-delay:  1.8s;
  animation-iteration-count:  infinite;
  -webkit-animation-name: colorRun;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function:  ease; 
  -webkit-animation-delay:  1.8s;
  -webkit-animation-iteration-count:  infinite;
  color: #CE1836;
}

@-moz-keyframes colorRun {
  0% {
    -moz-transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
  }
  50% {
    -moz-transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
    transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
  }
  100% {
    -moz-transform: translateY(0) scaleX(1) rotateY(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg);
  }
}
@-webkit-keyframes colorRun {
  0% {
    -webkit-transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
    transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(1) rotateY(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg);
  }
}
@keyframes colorRun {
  0% {
    -moz-transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
    -ms-transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
    -webkit-transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg) rotateX(0deg);
  }
  50% {
    -moz-transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
    -ms-transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
    -webkit-transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
    transform: translateY(-65px) scaleX(1) rotateY(360deg) rotateX(-360deg);
  }
  100% {
    -moz-transform: translateY(0) scaleX(1) rotateY(0deg);
    -ms-transform: translateY(0) scaleX(1) rotateY(0deg);
    -webkit-transform: translateY(0) scaleX(1) rotateY(0deg);
    transform: translateY(0) scaleX(1) rotateY(0deg);
  }
}

